.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding: 40px;
    background-color: black;
    border: 1px solid blue;
  }
}

.input {
  padding: 25px;
}

.calculator {
  display: flex;
  padding: 5px;
  gap: 5px;
}

.button {
  color: black;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: white;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
}

.outputResult {
  margin-bottom: 10px;
}

// .outputText {
  
// }